@{
  ViewBag.Title = "Confirmation for activating vote";
}

<h2>You sucessfully finished Vote Process !</h2>
<h4>Now you can see the results from "Results" button ! </h4>

@Html.ActionLink("Back to List", "Index")