@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    donstany.github.io
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">donstany79@mail.bg</a><br />
</address>