@{
  ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h1>Online Birthday System - BOS</h1>
  <img style="display:block; margin:0 auto" src="~/favicon.ico" />
  <p class="lead" style="text-align:center">
    Система за избор на подарък за рожден ден за служител на организация
  </p>
  @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Стартиране на гласуване за избор на подарък</h2>
    <p>
      Всеки потребител на приложението може да стартира гласуване за подарък за друг служител за предстоящия му рожден ден (без значение колко време има дотогава). Стартираното гласуване се вижда от всички потребители, с изключение на рожденика.
      Не може да има едновременно повече от едно гласуване за един рожденик.
      Не може да има повече от едно гласуване за рождената дата за същата година за рожденик.
    </p>
    @*<h4>press in navigation bar -> Create New Vote</h4>*@
    @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
  
  </div>
  <div class="col-md-4">
    <h2>Гласуване за предложение за подарък.</h2>
    <p>В едно гласуване всеки (с изключение на рожденика) може да гласува само веднъж  и то точно за едно от предложенията за подарък за конкретен рожденик.</p>
    @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    @*<h4>press in navigation -> Process Voting</h4>*@
  
  </div>
  <div class="col-md-4">
    <h2>Прекратяване на гласуването.</h2>
    <p>Този, който е стартирал гласуването, може да го прекрати, когато прецени. След прекратяване може да се проследи от всеки (с изключение на рожденика) какви са резултатите от гласуването, както и кой за какво е гласувал, и кой не е гласувал изобщо.</p>
    @*<h4>press in navigation -> End Voting</h4>*@
    
  @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
  </div>
</div>