@{
  ViewBag.Title = "Confirmation for activating vote";
}

<h2>You sucessfully finished with creation of "New Vote" !</h2>
<h4>You will see the results by completing the process with "End Voting" ... Be patient :)</h4>

@Html.ActionLink("Back to List", "Index")