USE [aspnet-BOS-20180204082436]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2/11/2018 23:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 2/11/2018 23:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 2/11/2018 23:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 2/11/2018 23:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 2/11/2018 23:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 2/11/2018 23:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[BirthDate] [datetime] NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gifts]    Script Date: 2/11/2018 23:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gifts](
	[GiftId] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Gifts] PRIMARY KEY CLUSTERED 
(
	[GiftId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotingDetails]    Script Date: 2/11/2018 23:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotingDetails](
	[VotingDetailId] [int] IDENTITY(1,1) NOT NULL,
	[VotingId] [int] NOT NULL,
	[ElectorateId] [nvarchar](128) NULL,
	[GiftId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.VotingDetails] PRIMARY KEY CLUSTERED 
(
	[VotingDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Votings]    Script Date: 2/11/2018 23:09:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Votings](
	[VotingId] [int] IDENTITY(1,1) NOT NULL,
	[VoteCreatorId] [nvarchar](128) NOT NULL,
	[CandidateForGiftId] [nvarchar](128) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsOnlyOnceVoted] [bit] NOT NULL,
	[YearOfActivationVote] [int] NOT NULL,
	[IsYearOfActivationAvailable] [bit] NOT NULL,
	[IsCompleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Votings] PRIMARY KEY CLUSTERED 
(
	[VotingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [BirthDate], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'07319f58-b542-4cc0-a4f2-07a0da6e5170', N'Явор Стаменов', CAST(N'2018-10-16T00:00:00.000' AS DateTime), N'yavor@gmail.com', 0, N'AHnMz+MFknce+x113suOBri+l/k1skitB5iFk++6Jo/u1Cd32a8chm2Fpnq+K4qw+g==', N'8b4691b2-2165-4b5e-96a0-db4af8c87bc9', NULL, 0, 0, NULL, 1, 0, N'yavor@gmail.com')
GO
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [BirthDate], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'21c2c849-b18c-4934-b030-140432c9294a', N'Жасмина Митева', CAST(N'2018-12-18T00:00:00.000' AS DateTime), N'jasmin@abv.bg', 0, N'AFB2qhxppzxRMYZjfFx2x8ZP1+NTv33Z5g+oNNOwVF/DdnI1ofmrdu237cWpmf8g0Q==', N'f2cef8e4-be94-4741-a11a-33e78dcab2cc', NULL, 0, 0, NULL, 1, 0, N'jasmin@abv.bg')
GO
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [BirthDate], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'75c7eb35-f087-4412-8ddd-960adae0f1d3', N'Станислав', CAST(N'2018-08-20T00:00:00.000' AS DateTime), N's@abv.bg', 0, N'APrL+/KNdJABdp77FLtT5EJjyO7uIQs6ac70XA9Vw1Lw1YaR/7Z8rZuQcocdD278Dw==', N'b2121ec7-1953-4b26-aef4-3ef87f848473', NULL, 0, 0, NULL, 1, 0, N's@abv.bg')
GO
SET IDENTITY_INSERT [dbo].[Gifts] ON 
GO
INSERT [dbo].[Gifts] ([GiftId], [Description]) VALUES (1, N'Екскурзия за двама до Барселона')
GO
INSERT [dbo].[Gifts] ([GiftId], [Description]) VALUES (2, N'Спа уикенд във Велинград')
GO
INSERT [dbo].[Gifts] ([GiftId], [Description]) VALUES (3, N'Комплект луксозни писалки')
GO
SET IDENTITY_INSERT [dbo].[Gifts] OFF
GO
SET IDENTITY_INSERT [dbo].[VotingDetails] ON 
GO
INSERT [dbo].[VotingDetails] ([VotingDetailId], [VotingId], [ElectorateId], [GiftId]) VALUES (25, 35, N'07319f58-b542-4cc0-a4f2-07a0da6e5170', 2)
GO
INSERT [dbo].[VotingDetails] ([VotingDetailId], [VotingId], [ElectorateId], [GiftId]) VALUES (26, 35, N'21c2c849-b18c-4934-b030-140432c9294a', 4)
GO
SET IDENTITY_INSERT [dbo].[VotingDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Votings] ON 
GO
INSERT [dbo].[Votings] ([VotingId], [VoteCreatorId], [CandidateForGiftId], [IsActive], [IsOnlyOnceVoted], [YearOfActivationVote], [IsYearOfActivationAvailable], [IsCompleted]) VALUES (35, N'07319f58-b542-4cc0-a4f2-07a0da6e5170', N'b634734e-b42e-4a46-9631-813e2df3193c', 1, 1, 2018, 0, 1)
GO
SET IDENTITY_INSERT [dbo].[Votings] OFF
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[VotingDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VotingDetails_dbo.AspNetUsers_ApplicationUser_Id] FOREIGN KEY([ElectorateId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[VotingDetails] CHECK CONSTRAINT [FK_dbo.VotingDetails_dbo.AspNetUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[VotingDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VotingDetails_dbo.Gifts_Gift_GiftId] FOREIGN KEY([GiftId])
REFERENCES [dbo].[Gifts] ([GiftId])
GO
ALTER TABLE [dbo].[VotingDetails] CHECK CONSTRAINT [FK_dbo.VotingDetails_dbo.Gifts_Gift_GiftId]
GO
ALTER TABLE [dbo].[VotingDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VotingDetails_dbo.Votings_Voting_VotingId] FOREIGN KEY([VotingId])
REFERENCES [dbo].[Votings] ([VotingId])
GO
ALTER TABLE [dbo].[VotingDetails] CHECK CONSTRAINT [FK_dbo.VotingDetails_dbo.Votings_Voting_VotingId]
GO
ALTER TABLE [dbo].[Votings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Votings_dbo.AspNetUsers_CandidateForGiftId] FOREIGN KEY([CandidateForGiftId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Votings] CHECK CONSTRAINT [FK_dbo.Votings_dbo.AspNetUsers_CandidateForGiftId]
GO
ALTER TABLE [dbo].[Votings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Votings_dbo.AspNetUsers_VoteCreatorId] FOREIGN KEY([VoteCreatorId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Votings] CHECK CONSTRAINT [FK_dbo.Votings_dbo.AspNetUsers_VoteCreatorId]
GO
